@media all and (max-width: 401px) {
    @font-face {
        font-family: 'robotoregular';
        src: url('Roboto-Regular-webfont.eot');
        src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Regular-webfont.woff2') format('woff2'), url('Roboto-Regular-webfont.woff') format('woff'), url('Roboto-Regular-webfont.ttf') format('truetype'), url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .enbref {
        width: 100vw;
        height: fit-content;
        flex-direction: column;
        text-align: center;
        display: flex;
        margin-bottom: 5%;
    }
    .img0 {
        width: 5%;
        height: 3%;
    }
    .img {
        display: none;
    }
    .titre1 {
        height: 25%;
        width: 90%;
        background-image: url(./../style/enbref/excellence.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img1 {
        height: 75%;
        width: 90%;
        background-image: url(./../style/enbref/Image1.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .titre2 {
        height: 25%;
        width: 90%;
        background-image: url(./../style/enbref/engagement.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img2 {
        height: 75%;
        width: 90%;
        background-image: url(./../style/enbref/Image2.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .titre3 {
        height: 25%;
        width: 90%;
        background-image: url(./../style/enbref/audace.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img3 {
        height: 75%;
        width: 90%;
        background-image: url(./../style/enbref/Image3.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .titre4 {
        height: 25%;
        width: 90%;
        background-image: url(./../style/enbref/humanisme.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    .img4 {
        height: 75%;
        width: 90%;
        background-image: url(./../style/enbref/Image4.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
    }
    h2 {
        background-color: grey;
        color: blanchedalmond;
        text-align: center;
    }
    h3 {
        text-align: center;
        color: blue;
    }
    .excellence,
    .engagement,
    .audace,
    .humanisme {
        display: block;
        height: 80vh;
        width: 100vw;
    }
    footer {
        height: fit-content;
        width: 100%;
        background-color: black;
        display: flex;
        color: red;
    }
    .alert {
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
        font-size: large;
    }
    .mentions,
    .politique {
        color: blanchedalmond;
        font-size: 12px;
    }
    a {
        text-decoration: none;
        color: blanchedalmond;
    }
    .acceuil {
        height: fit-content;
        width: fit-content;
        background-color: gray;
    }
}