@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('Roboto-Regular-webfont.woff2') format('woff2'), url('Roboto-Regular-webfont.woff') format('woff'), url('Roboto-Regular-webfont.ttf') format('truetype'), url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100vw;
    height: fit-content;
}

.offres {
    height: fit-content;
    width: 150vw;
    flex-direction: row;
    text-align: center;
    display: flex;
}

h2 {
    background-color: grey;
    color: blanchedalmond;
    text-align: center;
}

h3 {
    text-align: center;
}

.article {
    height: 100vh;
    width: 100%;
    margin: 2px;
    background-color: grey;
}

footer {
    height: fit-content;
    width: 100%;
    background-color: black;
    display: flex;
    color: red;
}

.alert {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-size: large;
}

.mentions,
.politique {
    color: blanchedalmond;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

.img {
    width: 3%;
    height: 3%;
}

.color1 {
    background-color: rgb(236, 236, 63);
}

.color2 {
    background-color: green;
}

.color3 {
    background-color: rgb(96, 214, 188);
}

.color4 {
    background-color: rgb(36, 36, 216);
}

.color5 {
    background-color: purple;
}

.color6 {
    background-color: pink;
}

.color7 {
    background-color: rgb(206, 58, 58);
}

.color8 {
    background-color: orangered;
}

.color9 {
    background-color: yellow;
}

.color10 {
    background-color: yellowgreen;
}